<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/x-icon" href="/images/SiSt.ico">
<title>2026. 2. 19. 오후 3:12:21</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="/resources/cdn-main/example.css">
<script src="/resources/cdn-main/example.js"></script>
<style>
 span.material-symbols-outlined{
    vertical-align: text-bottom;
 }   
</style>
</head>
<body>
<header>
  <h1 class="main"><a href="#" style="position: absolute;top:30px;">CHacHa's HOme</a></h1>
  <ul>
    <li><a href="#">로그인</a></li>
    <li><a href="#">회원가입</a></li>
  </ul>
</header>
<div>
  <xmp class="code"> 
   
  </xmp>
  <h1>/question/detail.html</h1>
  <h1 th:text="${question.subject}">제목</h1>
  <div th:text="${question.content}">내용</div>
  
  <h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다|"></h5>
  <div>
  	<ul>
  		<li th:each="answer:${question.answerList}" th:text="${answer.content}"></li>
  	</ul>
  </div>
  
  <form th:action="@{|/answer/create/${question.id}|}" method="post">
  	<textarea name="content" id="content" rows="15"></textarea>
  	<input type="submit" value="답변등록"/>
  </form>
  
</div>
</body>
</html>