<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/x-icon" href="/images/SiSt.ico">
<title>SIST SBB</title>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/question/style.css}">
<script th:src="@{/bootstrap/bootstrap.min.js}"></script>
</head>
<body>

<div th:replace="~{navbar::navbarFragment}"></div>
<!-- 기본 템플릿 안에 삽입될 내용 시작 -->
<th:block layout:fragment="content">
	
</th:block>
<!-- 기본 템플릿 안에 삽입될 내용 끝 -->
</body>
</html>