
<html layout:decorate="~{/question/layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<div layout:fragment="content" class="container my-3">
 
  <h1>/question/list.html</h1>
  <table class="table">
  	<thead class="table-dark">
  		<tr>
  			<th>글번호</th>
  			<th>제목</th>
  			<th>작성일시</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr th:each="question, loop : ${questionList}">
  			<td th:text="${loop.count}"></td>
  			<td>
  				<a  th:text="${question.subject}" th:href="@{|/question/detail/${question.id}|}"></a>
  			</td>
  			<td th:text="${question.createDate}"></td>
  		</tr>
  	</tbody>
  	<tfoot>
  		
  	</tfoot>
  </table>
  
  <a th:href="@{/question/create}" class="btn btn-primary">질문 등록</a>
</div>

</html>