<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://bit.ly/3WJ5ilK"> 
<style>
 span.material-symbols-outlined{
    vertical-align: text-bottom;
 }   
</style>
</head>
<body>
<div>
  <xmp class="code">
  </xmp>
  
  <h1>index.html</h1>
  
  <h3>
    <!-- /memo/list/0 -->
    <a th:href="@{/memo/list/1}">메모 1번 페이지 요청</a>
  </h3>
  
</div>
</body>
</html> 