<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/x-icon" href="/images/SiSt.ico">
<title>2026. 2. 10. 오전 9:26:13</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="/resources/cdn-main/example.css">
<script src="/resources/cdn-main/example.js"></script>
<style>
 span.material-symbols-outlined{
    vertical-align: text-bottom;
 }   
</style>
</head>
<body>
<header>
  <h1 class="main"><a href="#" style="position: absolute;top:30px;">CHacHa's HOme</a></h1>
  <ul>
    <li><a href="#">로그인</a></li>
    <li><a href="#">회원가입</a></li>
  </ul>
</header>
<div>
	<br />
	<a th:href="@{/uploadEx}">파일업로드</a>
  <xmp class="code"> 
	[ 스프링부트에서 파일업로드 ]
	1. 파일업로드 라이브러리(commons-fileupload) 이용
	2. Servlet 3 자체 제공하는 파일업로드 라이브러리 이용 ***
	
	(1) application.properties 파일설정
	(2) build.gradle
          ㄴ  implementation group: 'net.coobird', name: 'thumbnailator', version: '0.4.12'
    (3) uploadEx.html
    (4) org.doit.ik.mreview.contoller.UploadTestController.java          
    (5) org.doit.ik.mreview.contoller.UploadController.java    
  </xmp>  
  
  
   
  
</div>
</body>
</html>




