<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/x-icon" href="/images/SiSt.ico">
<title>2026. 2. 10. 오전 9:26:13</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="/resources/cdn-main/example.css">
<script src="/resources/cdn-main/example.js"></script>
<style>
 span.material-symbols-outlined{
    vertical-align: text-bottom;
 }   
</style>
</head>
<body>
<header>
  <h1 class="main"><a href="#" style="position: absolute;top:30px;">CHacHa's HOme</a></h1>
  <ul>
    <li><a href="#">로그인</a></li>
    <li><a href="#">회원가입</a></li>
  </ul>
</header>
<div>
  <br>
  <a th:href="@{/board/register}">게시판 등록</a>
  <br>
  <a th:href="@{/board/list}">게시판 목록 보기</a>
  <br>
  <xmp class="code"> 
      [ JPQL로 검색처리 ]
      1. Q 도메인 클래스 생성
      2. 게시물 검색 Querydsl을 사용해서 처리
       	*** 작성자 정보 검색 또는 게시물 정보로 검색 또는 댓글 정보로 검색 ***
       	여러개의 엔티티를 사용해서 검색
       	단일항목검색
       	다중항목검색
       	
      3. 위의 처리 방법 (Repository를 확장하는 방법)
      	1) 쿼리메서드나 @Query 등으로 처할 수 없는 기능은
      	   별도의 인터페이스로 설정
      	2) 별도의 인터페이스 -> 구현한 클래스 선언
      	   (조건 : QuerydslRepositorySupport 클래스 상속을 받아야 된다)
      	3) 구현 클래스 선언
      		ㄴ Q도메인 클래스 + JPQLQuery를 이용해서 구현...
  </xmp>  
  
  
   
  
</div>
</body>
</html>




