<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/x-icon" href="/images/SiSt.ico">
<title>2026. 2. 10. 오전 9:26:13</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="/resources/cdn-main/example.css">
<script src="/resources/cdn-main/example.js"></script>
<style>
 span.material-symbols-outlined{
    vertical-align: text-bottom;
 }   
</style>
</head>
<body>
<header>
  <h1 class="main"><a href="#" style="position: absolute;top:30px;">CHacHa's HOme</a></h1>
  <ul>
    <li><a href="#">로그인</a></li>
    <li><a href="#">회원가입</a></li>
  </ul>
</header>
<div>
  <br>
  <a th:href="@{/board/register}">게시판 등록</a>
  <br>
  <a th:href="@{/board/list}">게시판 목록 보기</a>
  <br>
  <xmp class="code"> 
      [ JPA의 N:1 연관관계(Association) 설정과 관리 ]
       - DB의 관계 이해
       - JPA의 연관관계 이해
       - 엔티티들 간의 연관관계의 DTO 처리 ***
       - REST 방식의 데이터 처리.
      
      [실습]
      회원(member)      게시판(board)            댓글(reply)
           1              N(다)
         회원ID(PK)       글번호(PK)              댓글번호(PK)
                         작성자(FK, 회원ID)       작성자(FK, 회원ID)
                                                글번호(FK, 게시판글번호)
     JPA 연관관계
         @OneToMany      *** @ManyToOne
         private Board board  Member member;
        
       ● JPA의 연관관계는 DB설계의 FK를 이용해서 연관관계를 시작(기본 권장)
                            
       
      1. sb09_mjt_book 프로젝트 생성.
      1-2. 패키지 추가
         org.doit.ik.board
             ㄴ controller
             ㄴ dto
             ㄴ entity
             ㄴ repository
             ㄴ service
      2. 날짜/시간 자동 설정
          BaseEntity 추가, @EnableJpaAuditing 설정
      3. 엔티티 추가 : 연관관계 X -> O     확인.
        1) 회원 엔티티 
        2) 게시판 엔티티
        3) 댓글 엔티티  
      4. Repository 패키지
        1) BoardRepository 인터페이스
        2) MemberRepository 인터페이스
        3) ReplyRepository 인터페이스   
      5. 테스트 더미 데이터 추가.   
      6. BoardRepositoryTests 단위 테스트  
      7. JPQL과 left (outer) join
        1) 엔티티가 연관관계 있을 경우  
            BoardRepository.java
        2) 엔티티가 연관관계 없을 경우
      8. 글번호 -> 상세 보기 JPQL 
      9. 실제 프로젝트 적용~~ 
        1) dto 패키지 안에 \
           PageRequestDTO.java
           PageResultDTO.java
        2) dto 패키지 안에
           BoardDTO.java / Board.java 엔티티
           컨/서 -> 뷰
                <-
           화면 출력
           화면 입력
              
        3) 게시글 등록
          ㄱ. <a th:href="@{/board/register}">게시물 등록</a>  클릭
          ㄴ. BoardController 
          ㄷ. register.html
          
          (1) BoardRepository.java  X
          (2) BoardService.java
              BoardServiceImpl.java
          (3) BoardController.java
          (4) register.html  
              
        4) 게시글 목록 
          ㄱ. <a th:href="@{/board/list}">게시물 목록</a>  클릭
          (1) BoardRepository.java  X
          (2) BoardService.java
              BoardServiceImpl.java
          (3) BoardController.java
          (4) list.html  
          
        5) 게시글 조회(상세보기)
        
           [수정][목록] 버튼
        
        6) 게시글 수정
        http://localhost/board/modify?bno=101&page=1&type=&keyword=
        
        7) 게시글 삭제
        8) 검색  
        
  </xmp>  
  
  
   
  
</div>
</body>
</html>

<!-- 
@Entity
public class Emp {

    @Id
    private Long empno;

    private String ename;
    private String job;
    private LocalDate hiredate;
    private int sal;

    @ManyToOne
    @JoinColumn(name = "deptno")
    private Dept dept;
}

@Entity
public class Dept {

    @Id
    private Long deptno;

    private String dname;
    private String loc;
}


@Entity
public class Salgrade {

    @Id
    private int grade;

    private int losal;
    private int hisal;
}


-- SQL
SELECT 
    e.empno,
    e.ename,
    e.job,
    e.hiredate,
    e.deptno,
    d.dname,
    e.sal,
    s.grade
FROM emp e
JOIN dept d ON e.deptno = d.deptno
JOIN salgrade s ON e.sal BETWEEN s.losal AND s.hisal;

-- JPQL
SELECT e.empno,
       e.ename,
       e.job,
       e.hiredate,
       e.dept.deptno,
       e.dept.dname,
       e.sal,
       s.grade
FROM Emp e
JOIN e.dept d,
     Salgrade s
WHERE e.sal BETWEEN s.losal AND s.hisal

-- JPQL ( DTO 로 받음, 실무 권장 )
SELECT new com.example.dto.EmpDto(
       e.empno,
       e.ename,
       e.job,
       e.hiredate,
       d.deptno,
       d.dname,
       e.sal,
       s.grade)
FROM Emp e
JOIN e.dept d,
     Salgrade s
WHERE e.sal BETWEEN s.losal AND s.hisal

--
@Getter
@AllArgsConstructor
public class EmpDto {

    private Long empno;
    private String ename;
    private String job;
    private LocalDate hiredate;
    private Long deptno;
    private String dname;
    private Integer sal;
    private Integer grade;
} 

-- @쿼리 메서드 
public interface EmpRepository extends JpaRepository<Emp, Long> {

    @Query("""
        SELECT new com.example.dto.EmpDto(
            e.empno,
            e.ename,
            e.job,
            e.hiredate,
            d.deptno,
            d.dname,
            e.sal,
            s.grade
        )
        FROM Emp e
        JOIN e.dept d,
             Salgrade s
        WHERE e.sal BETWEEN s.losal AND s.hisal
    """)
    List<EmpDto> findEmpWithDeptAndGrade();
}
 -->


